@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "work-sans";
    src: url(Fonts/Work_Sans/WorkSans-Regular.ttf);
  }

  @font-face {
    font-family: "space-mono";
    src: url(Fonts/Space_Mono/SpaceMono-Regular.ttf);
  }
}

.left {
  background: url(Pages/Login/images/login.png) no-repeat center center / cover;
}

footer a {
  color: #cccccc;
  font-size: 14px;
  font-family: work-sans;
  font-weight: 400;
}

.highlight {
  background: linear-gradient(to top, #a259ff, #a159ff00),
    url(Pages/Home/Images/highlight.png) no-repeat center center  /cover;
}
